/* reset */
html{font-size:10px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px){html{font-size:25px}}

html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#fff;}

/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}

.g-doc{
	background: #151a20;
	max-width: 800px;
	margin:0 auto;
}
/*列表*/
.g-list{
	padding:0 2%;
}
.m-lst{
    float: left;
    width:46%;
    margin:5px 2%;
    background: #242d3c;
}
.m-lst .m-livelink{
    display: block;  
}
.m-cover{
	height: 8.5rem;
    position: relative;
}
.m-cover span{
	position: absolute;
    top: 0;
    right: 0;
    background: rgba(23,26,33,0.8);
    height: 26px;
    line-height: 26px;
    display: inline-block;
    padding:0 5px;
    color:#f36;
}
.m-info{
	position: relative;
}
.m-head{
	position: relative;
	width: 4.2rem;
	height: 4.2rem;
	margin-top: -2.1rem;
}
.m-head .anchor-head{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.m-head .sex{
	position: absolute;
	right: 0;
	bottom: 0;
}
.m-info span{
	display: block;
	width: 4rem;
	height: 1.5rem;
	border-radius: 3px;
	position: absolute;
	right: 0;
	bottom:0;
	background: #37475c;
	color:#848e9c;
}
.m-title{
	height: 2rem;
	line-height: 2rem;
	font-size: 1.2rem;
}